body{
    height: 1140px;
    width: 824px;
    border: 5px solid black;
    margin-left: 340px;
    
}
.container1{

    border: 2px solid ;
    background-color: rgb(251, 222, 202);
    margin: 0px;
    height: 220px;
}
img{
    margin-left: 30px;
    margin: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid ;
    border-radius:40px;
    float: left;
}
#name1{
    text-align: center;
    margin-top: 50px;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}
#name2{

    text-align: center;
    margin-top: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
   }
   .container2{
    height: 150px;

   }
#about{
    margin-left: 20px;
}
#aboutme{
    font-size: larger;
    text-align: center;
    margin-left:30px ;
    margin-right: 20px;
   
}

.container3{
background-color:white;
/*border: 1px solid;*/
float: left;
height: 700px;
width: 400px;
padding-left: 10px;
border-right: 1px solid black;
}
.container4{
    background-color: white;
    /*border: 1px solid;*/
    margin-left: 400px;

   height: 700px;
   width: 380px;
   padding-left: 30px;
  
}
#ed{
   font-size: large;
   font-weight: 800;
}
td{
    padding: 5px;
    
}

#skill{
    font-size: large;
    font-weight: 600;
   padding-left: 25px;
}
.container5{
    float: left;
}
h1{
    
    background-color: rgb(132, 194, 249);
    border: 1px solid rgb(13, 13, 14);
    border-bottom-color: black;
   
    border-bottom-width: 4px;
    border-radius: 10px;
    max-width: 160px;
}